---

# Gather EC2 metadata facts
- name: Fetch local EC2 metadata
  amazon.aws.ec2_metadata_facts:
    metadata_token_ttl_seconds: 120
  tags:
    - notest

- name: Install script to install/upgrade ssm package
  ansible.builtin.template:
    src: install_aws_ssm_package.sh.j2
    dest: /usr/local/bin/install_aws_ssm_package.sh
    owner: "root"
    group: "root"
    mode: '0755'

- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto
    
- name: Install amazon-efs-utils package
  ansible.builtin.shell:  /usr/local/bin/install_aws_ssm_package.sh amazon-efs-utils
  when: "'amazon-efs-utils' not in ansible_facts.packages"
  
- name: Create mountpoint
  ansible.builtin.file:
    state: directory
    path: "{{ efs_mountpoint }}"
    mode: 0755

- name: Enable mountpoint in fstab
  ansible.posix.mount:
    path: "{{ efs_mountpoint }}"
    src: "{{ efs_path }}"
    fstype: "{{ efs_type }}"
    opts: "{{ efs_mount_options }}"
    state: mounted
