---

# #
# # Build and install aws-efs-tools
# #
# - name: Gather the package facts
#   ansible.builtin.package_facts:
#     manager: apt
    
# - name: Install aws-efs-tools via shell
#   ansible.builtin.shell: |
#     apt-get -y install git binutils rustc cargo pkg-config libssl-dev golang cmake
#     pushd . >/dev/null 2>&1
#     tmpdir=$(mktemp -d)
#     cd $tmpdir
#     git clone https://github.com/aws/efs-utils
#     cd efs-utils
#     ./build-deb.sh
#      apt-get -y install ./build/amazon-efs-utils*deb
#      popd > /dev/null 2>&1
#      rm -rf $tmpdir
#   when: "'amazon-efs-utils' not in ansible_facts.packages"

# Gather EC2 metadata facts
- name: Fetch local EC2 metadata
  amazon.aws.ec2_metadata_facts:
    metadata_token_ttl_seconds: 120
  tags:
    - notest

- name: Install aws-efs-tools via aws cli ssm
  ansible.builtin.shell: |
    aws ssm send-command \
    --document-name "AmazonEFSUtils" \
    --instance-ids "{{ ansible_ec2_instance_id }}" \
    --parameters '{"action":["Install"],"installationType":["Uninstall and reinstall"],"name":["AmazonEFSUtils"]}'

  

- name: Create mountpoint
  ansible.builtin.file:
    state: directory
    path: "{{ efs_mountpoint }}"
    mode: 0755

- name: Enable mountpoint in fstab
  ansible.posix.mount:
    path: "{{ efs_mountpoint }}"
    src: "{{ efs_path }}"
    fstype: "{{ efs_type }}"
    opts: "{{ efs_mount_options }}"
    state: mounted
