user  www-data www-data;
pid /run/nginx.pid;
error_log  /var/log/nginx/error.log info;
worker_processes auto;
include /etc/nginx/modules-enabled/*.conf;

events {
    worker_connections 768;
}


http {
    access_log  /var/log/nginx/access.log;

    set_real_ip_from  {{ vpc_cidr }};
    real_ip_header    X-Forwarded-For;
    real_ip_recursive on;

    allow 127.0.0.1; # Useful for debugging
    allow {{ nginx_allowed_cidr }};
    deny all;

    server {
        listen 80;
        server_name {{ nginx_domain_name }};

        location /goaccess {
            alias {{ web_root }};
            autoindex on;
	    autoindex_localtime on;
        }

        location /checkmk/ {
            proxy_pass http://127.0.0.1:5000/{{ checkmk_server_sites[0]['name'] }}/check_mk/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            
            # Other useful proxy settings
            proxy_http_version 1.1;
            proxy_buffering off;
            proxy_redirect off;
            proxy_read_timeout 86400s; # Adjust timeout as needed for long operations
            client_max_body_size 0; # Allows large uploads, e.g., agent updates
        }
    }

}
