<VirtualHost {{ proxy_name }}:80>
             ServerName {{ proxy_name }}

             DocumentRoot /var/www/html
	     
             ErrorLog ${APACHE_LOG_DIR}/error.log
             CustomLog ${APACHE_LOG_DIR}/access.log combined

	     # checkmk
             <Location /{{ checkmk_server_sites[0]['name'] }}>
                 ProxyPass "http://127.0.0.1:5000/{{ checkmk_server_sites[0]['name'] }}/"
                 ProxyPassReverse "http://127.0.0.1:5000/{{ checkmk_server_sites[0]['name'] }}/"
	     </Location>

	     # goaccess
	     Alias /goaccess/ /goaccess_data/www/
	     <Directory /goaccess_data/www/>
		 Options Indexes FollowSymLinks
		 Require all granted
	     </Directory>


</VirtualHost>
