# NOTE:
#
# goaccess configuration is in /etc/apache2/mods-enabled/alias.conf;
# doesn't work in VirtualHost
#
# checkmk config is in /omd/apache/checkmk.conf and is managed by checkmk
#

<VirtualHost {{ proxy_name }}:80>
             ServerName {{ proxy_name }}

             DocumentRoot /var/www/html
	     
             ErrorLog ${APACHE_LOG_DIR}/error.log
             CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
