#!{{ waf_update_ipsets_install_dir }}/bin/python3

import argparse
import logging
import os
import sys
import boto3
import urllib
import socket
import datetime
import re
import pprint

CMD_BASENAME = os.path.splitext(os.path.basename(__file__))[0]
PID_FILE = "/run/" + CMD_BASENAME
LOGFILE = "/var/log/" +  CMD_BASENAME + ".log"
SSM_PATH = "{{ ssm_root }}{{ ssm_prefix }}/"
USER_AGENT = "Mozilla/5.0" # Cloudflare blocks default urllib UA
IPSET_SCOPE = "REGIONAL"

#
# Only allow single instance of script to run
#
def check_pid():
    if os.path.exists(PID_FILE):
        with open(PID_FILE, "r+") as pidfile:
            pid = pidfile.readline().strip()
            try:
                os.kill(int(pid), 0) 
            except OSError as e:
                # Pid exists but process is not running
                pidfile.seek(0)
                pidfile.truncate(0)
                pidfile.write( str(os.getpid()) )
            else:
                # Pid exists and process is running
                logger.error("Process is already running")
                raise Exception("Process is already running")
    else:
        with open(PID_FILE, "w") as pidfile:
            pidfile.write( str(os.getpid()) )
            

#
# Get all SSM parameter values mapped to a single dict by path, without SSM_PREFIX
# WARNING: we don't bother with pagination
#
# REF: https://stackoverflow.com/questions/67440569/python-convert-path-to-dict
#
def get_ssm_params():
    result = {}
    ssm_response = ssm_client.get_parameters_by_path(
        Path=SSM_PATH,
        Recursive=True)
    for p in ssm_response["Parameters"]:
        path_elements = p["Name"].lstrip("/").split("/")
        result_key = path_elements.pop(-1)
        result[result_key] = p 
    return result
            
#
# Get dict of ipset names to definitions
# Boto3 WAF apparently doesn't support paginators :(
#
def existing_ipsets():
    result = {}

    next_marker = None
    while True:
        params = { "Scope": IPSET_SCOPE }
        if next_marker:
            params["NextMarker"] = next_marker
        page = waf_client.list_ip_sets(**params)

        # There's always a NextMarker, so test length of Ipsets array
        if len(page["IPSets"]) == 0:
            break

        next_marker = page["NextMarker"]
        for ipset in page["IPSets"]:
            logger.info("Getting existing ipset " + ipset["Name"])
            result[ipset["Name"]] = ipset
 
    return result

#
# Given a URL to a cidr list page, return a list of CIDRs
#
def get_cidr_list_from_url(url):
    cidrs = []
    request = urllib.request.Request(
        url, 
        headers={'User-Agent': USER_AGENT}
    )
    with urllib.request.urlopen(request) as ssm_response:
        for ipset_line in ssm_response.readlines():
            cidr = ipset_line.decode('utf-8').strip()
            if cidr.startswith("#") or cidr.isspace():
                continue
            cidrs.append(cidr)
    return cidrs

#
# Clean up CIDR list
#
def normalize_cidr_list(c_list):
    # Add "/32" for naked IP
    c_list = [ x + "/32" if not "/" in x else x for x in c_list ]

    # Remove duplicates
    c_list = list(set(c_list))

    # Sort
    c_list.sort()

    return c_list

#
# Usage and logging
#
check_pid()
parser = argparse.ArgumentParser(
    description="Update WAF Ipsets; configuration managed in SSM",
    epilog="By default logs to file: " + LOGFILE
)
parser.add_argument("-d", "--debug", action="store_true", default=False, help="Log to stderr at DEBUG level")
parser.add_argument("-n", "--dry-run", action="store_true", default=False, help="Log to stderr without performing updates")
args = parser.parse_args()

log_args = {}
if args.debug:
    log_args["level"] = logging.DEBUG
    log_args["stream"] = sys.stderr
else:
    log_args["level"] = logging.INFO

if args.dry_run:
    log_args["stream"] = sys.stderr
else:
    log_args["filename"] = LOGFILE
    log_args["filemode"] =  "a"


logging.basicConfig(format='%(asctime)s %(levelname)s:%(message)s', **log_args)
logger = logging.getLogger(__name__)

logger.info( __file__  + " >>>>>>>>>> starting <<<<<<<<<<" )

#
# Initialize boto3 clients and get SSM params
#
boto3.setup_default_session(region_name="{{ aws_region }}")
ssm_client = boto3.client("ssm")
ssm_params = get_ssm_params()

waf_client = boto3.client("wafv2", region_name="{{ aws_region }}")

#
# Iterate over the ipsets listed in the SSM param "waf_ipsets"
#
existing_ipsets = existing_ipsets()
ipset_names = ssm_params["waf_ipsets"].split(',')
for ipset_name in ipset_names:
    ipset_cidrs = []

    # For the IPV4_Allow list, always add the contents of the
    # nat_gateway_public_ips SSM param so apps can talk to themselves
    if re.search(r"IPV4_Allow", ipset_name):
        ipset_cidrs.extend( ssm_params["nat_gateway_public_ips"].split(',') )

    # Plain CIDRs
    cidrs = ssm_params[ipset_name]["cidrs"]
    # Placeholder value since SSM param can't have an empty values
    if cidrs == "null":
        logger.info("No CIDRs found for ipset " + ipset_name)
    else:
        ipset_cidrs += [x.strip() for x in cidrs.split(',')]

    # CIDR list URLs
    cidr_list_urls = ssm_params[ipset_name]["cidr_list_urls"]
    urls = [x.strip() for x in cidr_list_urls.split(',')]
    for u in urls:
        # Placeholder value since SSM param can't have an empty values
        if u == "null":
            logger.info("No CIDR list urls found for ipset " + ipset_name)
        else:
            ipset_cidrs += get_cidr_list_from_url(u)

    ipset_cidrs = normalize_cidr_list(ipset_cidrs)
    logger.info("Found " + str(len(ipset_cidrs)) + " cidrs in update for ipset " + ipset_name)
    logger.debug( pprint.pformat(ipset_cidrs) )
    
    # Update ipset with new cidr list
    current_ipset = waf_client.get_ip_set(
        Name=ipset_name,
        Id=existing_ipsets[ipset_name]["Id"],
        Scope=IPSET_SCOPE,
    )

    description = "IPSet " + ipset_name + " updated by " + __file__ + " on " + socket.getfqdn() + " at " + str(datetime.datetime.now())
    logger.info("Updating ipset " + ipset_name)

    if args.dry_run:
        continue
    
    waf_client.update_ip_set(
        Name=ipset_name,
        Scope=IPSET_SCOPE,
        Id=current_ipset["IPSet"]["Id"],
        Description=description,
        Addresses=ipset_cidrs,
        LockToken=current_ipset["LockToken"],
    )

                            
os.remove(PID_FILE)
logger.info( __file__  + " >>>>>>>>>> finished <<<<<<<<<<" )

